/*@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css');
@import url('https://aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui.min.css'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');


.material-icons.md-18, .material-icons-outlined.md-18 { font-size: 18px; }
.material-icons.md-24, .material-icons-outlined.md-24 { font-size: 24px; }
.material-icons.md-36, .material-icons-outlined.md-36 { font-size: 36px; }
.material-icons.md-48, .material-icons-outlined.md-48 { font-size: 48px; }
.material-icons.md-64, .material-icons-outlined.md-64 { font-size: 64px; }

[lang|=en], body {
	font-family: 'Nunito Sans', sans-serif !important;
}

#rw_adf_app {
	font-family: 'Nunito Sans', sans-serif !important;	
}

#rw_header .rw_logo {
	float: left;
	width: auto;
	position: relative;
	left: 0;
	transform: none;
	margin-left: 12% !important;
	margin-right: 20px;
	z-index: 10;
}


#rw_header .rw_login_button {
	margin-right: 12% !important;
	margin-left: -10% !important;
	margin-right: 12% !important;
	margin-left: -10% !important;
	background: rgba(112,201,191,1) !important;
	color: rgba(255, 255, 255, 1) !important;
	font-size: 14px;
	border-color: transparent !important;
	padding: 9px 18px !important;
	height: auto !important;
	line-height: 14px !important;
	border-radius: unset !important;
}

#rw_header #rw_my_menu{  
	margin-right: 12% !important;
}

#rw_header .rw_logo img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-height: 25px !important;
	max-width: 300px;
	display: list-item;
}

.rw_my_admin_menu {
	display: none !important;
}

span.rw_item_count{
	display: none !important;
}

.rw_portal_styling .rw_more_menu_button {
	/*display: none !important;*/
}

#rw_wrapper .rw_banner {
	position: absolute;
	height: auto !important; 
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 1) !important;
}

.rw_search_item {
	padding-top: 0px !important;
}

.rw_search_item.rw_formatting_item .rw_search_module_container > div .rw_search_item .rw_search_icon {
	bottom: auto !important;
	left: auto !important;
}

#hWelcome {
	width: 60%;
	margin: 0 auto;
	text-align: justify;
	margin-top: -40px !important;
}

.rw_navcontent_module .rw_formatting_item {
	padding: 10px !important;
	margin: 15px;
	border: 1px solid #EEE;
	border-radius: 10px;
	background: #FFFFFF;
       width: 80% !important;
      margin-left: 10%;
}

.rw_formatting_item.rw_layout_2column .rw_cell {
	padding: 10px !important;
}

.rw_item_secondary_text {
	font-size: 14px !important;
}

.rw_formatting_item > .rw_cell h2.rw_item_primary_text {
	font-size: 17px !important;
	line-height: 1 !important;
}

.rw_navicon_module .rw_formatting_item {
	padding: 10px 15px !important;
	border: 1px solid #EEE;
	margin: 10px !important;
	width: 80% !important;
	border-radius: 10px;
       background: #FFFFFF;
}

#rw_footer .rw_item_content {
	margin: 0px auto !important;
}

#rw_footer .rw_footer_background .rw_preview_background a, #rw_footer a, #rw_footer .rw_item_content a {
	color: rgba(0, 0, 1, 1);
	text-decoration: underline;
}

/* Writer Avatar */
.rw_page_byline {
	visibility: hidden !important;
}

.rw_image_filter_grayscale {
	height: 36px !important;
	width: 36px !important;
}

/*HomePage Contents */
.carbonads {
	border-radius: 10px;
	display: inline-block;
	position: relative;
	max-width: 31%;
	padding: 15px 15px 15px 160px;
	margin: 0.7rem 0;
	overflow: hidden;
	font-size: .8125rem;
	line-height: 1.4;
	text-align: left;
	background-color: rgba(255,255,255,255.05);
}

.carbonads:hover {
	background-color: rgba(0,0,0,0.04);
}
.carbon-icon {
	float: left;
	margin-top: 15px;
	margin-left: -120px;
	background: rgba(0,0,0,0.048);
	padding: 5px 10px;
	border-radius: 10px;
	color: rgba(16, 24, 32, 1);
}
.ml3{margin-left: 3% !important;}
.ml10{margin-left: 10% !important;}
.ml13{margin-left: 13% !important;}
.nl{clear: both;}

a.carbonadsLinks {color: #111111 !important; text-decoration: none !important;} 


/* Primary button colour */
a.primaryButton {
	clear: both;
	background: #414141;
	border: 1px solid #414141 !important;
	box-sizing: border-box;
	border-radius: 4px;
	text-transfom: capitalize !important;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	padding: 5px 17px;
	margin-top: 45px !important;
}

/* Icon card */
.iconcard {
	width: 20%;
	height: 135px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-left: 11%;
	position: relative;
}

.iconcard-icon {
	position: absolute;
	top: 15%;
	left: 35%;
	color: rgba(16, 24, 32, 1);
}
.iconcard-text {
	position: absolute;
	bottom: 5%;
	left: 35%;
}

.iconcard2 {
	width: 100%;
	height: 135px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	position: relative;
	background: rgba(255, 255, 255, 1);
}

.iconcard2-icon {
	position: absolute;
	top: 15%;
	/*left: 35%;*/
	width: 100%;
	color: rgba(16, 24, 32, 1);
}
.iconcard2-text {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
}

.iconcard:hover, .iconcard2:hover {
	background-color: rgba(0,0,0,0.04);
	text-decoration: none !important;
}

.rw_module_title h3,  .rw_primary_text{
	font-size: 26px !important;
	color: rgba(0, 0, 0, 0.85) !important;
}

.pageHead {
	width: 50%;
	background: rgba(255, 255, 255,1);
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: -65px;
	z-index: 9999;
	position: relative;
}
