@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');


.material-icons.md-18, .material-icons-outlined.md-18, .material-icons-two-tone.md-18 { font-size: 18px; }
.material-icons.md-24, .material-icons-outlined.md-24, .material-icons-two-tone.md-24 { font-size: 24px; }
.material-icons.md-36, .material-icons-outlined.md-36, .material-icons-two-tone.md-36 { font-size: 36px; }
.material-icons.md-48, .material-icons-outlined.md-48, .material-icons-two-tone.md-48 { font-size: 48px; }
.material-icons.md-64, .material-icons-outlined.md-64, .material-icons-two-tone.md-64 { font-size: 64px; }

[lang|=en], body {
    font-family: 'Nunito Sans', sans-serif !important;
}

p {
    font-family: 'Nunito Sans', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px;
    line-height: 16px;
}

#rw_adf_app {
    font-family: 'Nunito Sans', sans-serif !important;
}

#rw_header .rw_logo {
    float: left;
    width: auto;
    position: relative;
    left: 0;
    transform: none;
    margin-left: 12% !important;
    margin-right: 20px;
    z-index: 10;
}


#rw_header .rw_login_button {
    margin-right: 12% !important;
    margin-left: -10% !important;
    background: rgba(112,201,191,1) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-size: 14px;
    border-color: transparent !important;
    padding: 9px 18px !important;
    height: auto !important;
    line-height: 14px !important;
    border-radius: unset !important;
}

#rw_header #rw_my_menu{
    margin-right: 12% !important;
}

#rw_header .rw_logo img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 25px !important;
    max-width: 300px;
    display: list-item;
}

.rw_my_admin_menu {
    display: none !important;
}

span.rw_item_count{
    display: none !important;
}

.rw_portal_styling .rw_more_menu_button {
    /*display: none !important;*/
}

#rw_wrapper .rw_banner {
    position: absolute;
    height: auto !important;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 1) !important;
}

.rw_formatting_item.rw_layout_2column .rw_cell {
    padding: 10px !important;
}

.rw_item_secondary_text {
    font-size: 14px !important;
}

.rw_formatting_item > .rw_cell h2.rw_item_primary_text {
    font-size: 17px !important;
    line-height: 1 !important;
}

.rw_navicon_module .rw_formatting_item {
    padding: 10px 15px !important;
    border: 1px solid #EEE;
    margin: 10px !important;
    width: 80% !important;
    border-radius: 10px;
    background: #FFFFFF;
}

.rw_navcontent_module .rw_formatting_item {
    padding: 10px !important;
    margin: 15px;
    border: 1px solid #EEE;
    border-radius: 10px;
    background: #FFFFFF;
    width: 80% !important;
    margin-left: 10%;
}


#rw_footer .rw_item_content {
    margin: 0px auto !important;
}

#rw_footer .rw_footer_background .rw_preview_background a, #rw_footer a, #rw_footer .rw_item_content a {
    color: rgba(0, 0, 1, 1);
    text-decoration: underline;
}

#rw_footer .rw_layout_group:nth-child(2n), #rw_footer .rw_layout_group:nth-child(2n+1) {
    background: transparent !important;
    padding: unset;
}

/* Writer Avatar */
.rw_page_byline {
    visibility: hidden !important;
}

.rw_image_filter_grayscale {
    height: 36px !important;
    width: 36px !important;
}


.rw_layout_group:nth-child(even) {
    background-color: rgba(243,245,247,1) !important;
    transform: skew(0deg, 2deg);
}


.rw_layout_group:nth-child(even) .rw_table{
    transform: skew(0deg, -2deg);
}

.rw_layout_group:last-child {
    transform: skew(0deg, 0deg) !important;
}


.rw_layout_group:nth-child(4) {
    transform: skew(0deg, 0deg) !important;
}
